<script type="text/javascript">
  $(function(){
      <% available_tags = CmsPage.available_tags %>
      var currentTags = ['<%= available_tags.map(&:name).join("\',\'").html_safe %>'];

      $('#allowSpacesTags').tagit({
          availableTags: currentTags,
          allowSpaces: true,
          caseSensitive: false,
          removeConfirmation: true
      });
  });
</script>

<span class="cms-page-tags-edit">
   <%= text_field_tag 'page[tag_list]', "#{@page.tags.map(&:name).join(',').html_safe}", :size => 10, :class => 'hol', :id => "allowSpacesTags" %>
</span>


<% content_for :header_tags do %>
  <%= javascript_include_tag :"tag-it", :plugin => 'redmine_cms'  %>
  <%= stylesheet_link_tag :"jquery.tagit.css", :plugin => 'redmine_cms' %>
<% end %>
