<%= error_messages_for 'category' %>

<div class="box tabular">
<p><label for="category_name"><%=l(:field_name)%><span class="required"> *</span></label>
<%= text_field 'category', 'name'  %></p>
</div>
