<div style="height: 200px; overflow-y: scroll;">
  <ul id="bulk-selection">
    <%@issues.each do |issue| %>
      <%= content_tag 'li', link_to_issue(issue) %>
    <%end%>
  </ul>
</div>
<h3><%=l(:rawimtoi_added)%></h3>

<ul id="watcher_groups">
  <%=render :partial => 'context_menu_watcher_groups/list_groups', :locals => {:issues => @issues, :groups => @added_groups}%>
</ul>
