<%=project_menu_settings(@project, selected = issue_mail_settings_path)%>

<br><br><br>
<%emails = @project.issue_mail_server_settings.pluck(:user_name)%>
<table class="list">
  <thead>
  	<tr>
  	  <th>Email</th>
  	</tr>
  </thead>
  <tbody>
    <%emails.each do |email|%>
	  <tr>
	    <td><%=email%></td>
	  </tr>
  	<%end%>
  </tbody>
</table>